<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @spot.position_id %>
</p>

<p>
  <strong>Yard:</strong>
  <%= @spot.yard_id %>
</p>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
